<style>
    h1 {
        color: azure;
        font-size: 40px;
    }

    h2 {
        color: azure;
        font-size: 40px;
    }

    p {
        color: azure;
        font-size: 30px;
    }

    .imagem-fundo {
        position: relative;
        height: 100vh;
        width: 100vw;
        background-color: red;
        background-size: cover;
        background-image: url("img-fundo.jpg");

      
    }
</style>

<div class="container-fluid" style="padding: 0px 195px;">
    
       <div class="imagem-fundo"></div>
  
</div>