<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] POUSAR.COM</title>
    <link rel="icon" type="image/x-icon" href="~/favicon-aviao.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/99a006a744.js" crossorigin="anonymous"></script>
    <style>

        #nav1 {
            background-image: linear-gradient(to bottom, var(--cor3), var(--cor2));
            box-shadow: 0px 0px 10px black;
            height: 70px;
            font-family: var(--fonte-mono);
            font-weight: bold;
        }

        #img-header {
            font-size: 30px;
            margin-left: 18px;
        }

        header nav div div ul li a.nav-link.active.a:hover {
            font-size: 22px;
            color: #2638AD;
        }

        .dropdown-item {
            padding: 4px 10px 4px 10px;
            font-weight: bold;
        }

    </style>

    @RenderSection("css", false)
</head>
<body>
    

    <!--Chamada das telas da view-->
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
