<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - prototipoSiteTurismo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>

        body {
            background-color: aliceblue;
        }

        .ancora {
            /*//text-decoration: none;*/
            color: black;
        }

        .imagem-fundo {
            min-height: 57vh;
            max-height: 95vh;
            box-shadow: inset 0 0 1px black;
            border: 1px solid rgb(185, 185, 185);
            background-color: antiquewhite;
            background-image: url("wallpaper002.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed; /*deixa a imagem sem rolagem*/
        }

        #voos50porcento {
            font-size: x-large;
            font-weight: bold;
            color: black;
            margin: 20px 0px 35px 0px;
        }

        .imagem-camposjordao, .imagem-praiacopacabana, .imagem-bombinhassc, .imagem-novayork, .imagem-paris, .imagem-argentina {
            min-height: 57vh;
            max-height: 95vh;
            box-shadow: 2px 1px 5px black;
            border: 1px solid rgb(185, 185, 185);
            background-color: antiquewhite;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            /*background-attachment: fixed; deixa a imagem sem rolagem*/
        }

        .imagem-anuncio {
            min-height: 16vh;
            max-height: 95vh;
            box-shadow: 2px 2px 5px -3px black;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .imagemteste {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        #nav1 {
            background-image: linear-gradient(#e3ffff, aliceblue);
            box-shadow: 0px 0px 10px black;
            height: 70px;
        }

        #img-header {
            font-size: 30px;
            margin-left: 18px;
        }

        header nav div div ul li a.nav-link.active.a:hover {
            color: red;
        }

        .boxfooter {
            background-image: linear-gradient(antiquewhite, white);
        }
  

    </style>
    @RenderSection("css", false)
</head>
<body>
    <header>
        @*<nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-white border-bottom box-shadow mb-3" >
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Passagem" asp-action="Index">
                        <img src="~/favicon-avião.ico" alt="Imagem" width="50" height="38" class="d-inline-block align-text-top">
                        POUSAR.COM
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Passagem" asp-action="PesquisarPassagem">Pesquisar Passagem</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Passagem" asp-action="CriarPassagem">Criar Passagem</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>*@

        <nav class="navbar navbar-expand-lg " id="nav1">
            <!--nav-1-->
            <div class="container-fluid">
                <a class="navbar-brand ancora" id="img-header" asp-controller="Passagem" asp-action="Index" style="margin-left: 40px;">
                    <!--imagem-->
                    <img src="~/favicon-avião.ico" alt="Imagem" width="50" height="38" class="d-inline-block align-text-top">
                    Pousar.com
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav sm-2" style="padding-right: 80px; font-size: 19px">
                        <li class="nav-item" style="padding:0 15px 0 15px;">
                            <a class="nav-link active a ancora" aria-current="page" id="link-menu" asp-controller="Passagem" asp-action="PesquisarPassagem">Pesquisar</a>
                        </li>
                        <li class="nav-item" style="padding:0 15px 0 15px;">
                            <a class="nav-link active a ancora" aria-current="page" id="link-menu" asp-controller="Passagem" asp-action="CriarPassagem">Criar</a>
                        </li>
                        <li class="nav-item" style="padding:0 15px 0 15px;">
                            <a class="nav-link active a ancora" aria-current="page" href="#" id="link-menu">VOOS</a>
                        </li>
                        <li class="nav-item" style="padding:0 45px 0 15px;">
                            <a class="nav-link active a ancora" href="#" id="link-menu">PACOTES</a>
                        </li>
                        <li class="nav-item dropdown">
                            <!--Dropbox-->
                            <a class="nav-link active dropdown-toggle ancora" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
                                MENU
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="height: auto;">
                                <li><a class="dropdown-item fs-6 font-weight-bold text-wrap" href="#">Login</a></li>
                                <li><a class="dropdown-item fs-6 text-wrap" href="#">Carrinho</a></li>
                                <li><a class="dropdown-item fs-6 text-wrap" href="#">Ajuda</a></li>
                                <li><hr class="dropdown-divider "></li>
                                <li><a class="dropdown-item fs-6 text-wrap" href="#">Sobre nós</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="imagem-fundo">
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
            <!--Card-->
            @*<div class="container-xxl">
                    <div class="row my-5">
                        <div class="col"></div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="container">
                                    <main role="main" class="pb-3">
                                        @RenderBody()
                                    </main>
                                </div>
                            </div>

                        </div>
                        <div class="col"></div>
                    </div>
                </div>*@
        </div>
        <div class="container">
            <div class="row ">
                <!--Anuncie aqui-->
                <div class="col-12 " style="margin:40px 0px 40px 0px;">
                    <div class="card imagem-anuncio" style=" border-radius: 17px; text-shadow: 0 0 3px white; background-image: url('AviaoRastro.jpg');">
                        <div class="card-body">
                            <p class="card-text text-right font-italic font-weight-bold" style="color: black; padding-right: 70px;font-size: 25px;">ANUNCIE AQUI</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-5 imagemteste" style="background-image: url('ImagemTeste.jpg');">
                                @*<img src="~/ImagemTeste.jpg" class="card-img imagemteste" alt="imagem teste">*@
                            </div>
                            <div class="col-md-7">
                                <div class="card-body ">
                                    @*<img src="~/passagem-aerea.png" class="card-img rounded" alt="imagem teste" >*@
                                    <h5 class="card-title">PACOTES</h5>
                                    <p class="card-text">3 diárias a partir de</p>
                                    <p class="card-text"><small>R$</small> 337-></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-5 imagemteste" style="background-image: url('ImagemTeste.jpg');">
                                @*<img src="~/ImagemTeste.jpg" class="card-img imagemteste" alt="imagem teste">*@
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row ">
                <!--Anuncie aqui-->
                <div class="col-12 " style="margin:40px 0px 40px 0px;">
                    <div class="card imagem-anuncio" style=" border-radius: 17px; text-shadow: 0 0 3px white; background-image: url('AviaoRastro.jpg');">
                        <div class="card-body">
                            <p class="card-text text-right font-italic font-weight-bold" style="color: black; padding-right: 70px;font-size: 25px;">ANUNCIE AQUI</p>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container">
            <!--LUGARES PARA VIAJAR-->
            <p id="voos50porcento">VOOS COM ATÉ 50% DE DESCONTO</p>
            <div class="row justify-content-around text-center" style="margin-bottom: 30px;">
                <!--Card de atrações-->
                <div class="col-4">
                    <div class="card imagem-camposjordao" style="padding: 80px 0px 80px 0px; border-radius: 17px; text-shadow: 0 0 3px black; background-image: url('CamposJordao.jpg');">
                        <div class="card-body">
                            <p class="card-text" style="color: white; font-weight: bold; font-size: 25px;">CAMPOS DO JORDÃO</p>
                            <div>
                                @*<a href="#" class="btn btn-primary">GO</a>*@
                                <button type="button" class="btn btn-outline-light btn-lg btn-block rounded-pill"
                                        style="margin-top: 120px;">
                                    Ver mais
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-4">
                    <div class="card imagem-praiacopacabana" style="padding: 80px 0px 80px 0px; border-radius: 17px; text-shadow: 0 0 3px black; background-image: url('PraiaCopacabana.jpg');">
                        <div class="card-body">
                            <p class="card-text" style="color: white; font-weight: bold; font-size: 25px;">COPACABANA</p>
                            <div>
                                @*<a href="#" type="button" class="btn btn-outline-light btn-lg btn-block"
                                    style="margin-top: 120px;">Ver mais</a>*@
                                <button type="button" class="btn btn-outline-light btn-lg btn-block rounded-pill"
                                        style="margin-top: 120px;">
                                    Ver mais
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card imagem-bombinhassc" style="padding: 80px 0px 80px 0px; border-radius: 17px; text-shadow: 0 0 3px black; background-image: url('BombinhasSC.jpg');">
                        <div class="card-body">
                            <p class="card-text" style="color: white; font-weight: bold; font-size: 25px;">BOMBINHAS</p>
                            <div>
                                <button type="button" class="btn btn-outline-light btn-lg btn-block rounded-pill"
                                        style="margin-top: 120px;">
                                    Ver mais
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-around text-center" style="margin-bottom: 30px;">
                <!--Card de atrações-->
                <div class="col-4">
                    <div class="card  imagem-novayork" style="padding: 80px 0px 80px 0px; border-radius: 17px; background-image: url('NovaYork.jpg');">
                        <div class="card-body">
                            <p class="card-text" style="color: white; font-weight: bold; font-size: 25px; text-shadow: 0 0 3px black;">NOVA YORK</p>
                            <div>
                                <button type="button" class="btn btn-outline-light btn-lg btn-block rounded-pill"
                                        style="margin-top: 120px;">
                                    Ver mais
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card imagem-paris" style="padding: 80px 0px 80px 0px; border-radius: 17px; text-shadow: 0 0 3px black; background-image: url('Paris.jpg');">
                        <div class="card-body">
                            <p class="card-text" style="color: white; font-weight: bold; font-size: 25px;">PARIS</p>
                            <div>
                                <button type="button" class="btn btn-outline-light btn-lg btn-block rounded-pill"
                                        style="margin-top: 120px;">
                                    Ver mais
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card imagem-argentina" style="padding: 80px 0px 80px 0px; border-radius: 17px; text-shadow: 0 0 3px black; background-image: url('Argentina.jpg');">
                        <div class="card-body">
                            <p class="card-text" style="color: white; font-weight: bold; font-size: 25px;">ARGENTINA</p>
                            <div>
                                <button type="button" class="btn btn-outline-light btn-lg btn-block rounded-pill"
                                        style="margin-top: 120px;">
                                    Ver mais
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width: 500px;">
                    <button type="button" class="btn btn-outline-info btn-lg btn-block rounded-pill" style="margin-top: 40px;">ver todos os destinos</button>
                </div>
            </div>
        </div>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum obcaecati praesentium, doloremque neque quisquam in temporibus, quod quibusdam dolorum sequi voluptatum eos quidem ex deserunt sapiente inventore non velit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus iure, iste aspernatur commodi in, quisquam nulla ut molestias eveniet fugiat sint, veniam ullam fugit. Voluptatum a possimus nam nobis obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod illum fugit eius unde odit sit eligendi consequuntur consectetur dolor, minima dignissimos sed fugiat, dolore quasi vero laboriosam? Odio, corporis earum. </p>
        <hr />
    </main>

    <footer>
        <div class="container-fluid boxfooter" >
            <div class="row">
                <div class="col-4 " style="padding-left: 250px;">
                    <img src="~/imagemPCsemfundo.png" class="img-fluid rounded-right mx-auto d-block" width="170" height="170" alt="imag" style="margin-left: 28px;">
                </div>
                <div class="col-8">
                    <h5 class="card-title font-weight-bold" style="font-size: 25px; margin-top: 28px;">inscreva-se para receber ofertas exclusivas!</h5>
                    <div class="row text-center">
                        
                        <div class="col-3" style="padding-top: 4px;">
                            <input type="text" class="form-control font-italic" placeholder="Nome" style="border-radius: 14px; width: 206px; height: 40px;" aria-label="First name">
                        </div>
                        <div class="col-3" style="padding-top: 4px;">
                            <input type="text" class="form-control font-italic" placeholder="Escreva seu e-mail" style="border-radius: 14px; width: 206px; height: 40px; " aria-label="Last name">
                        </div>
                        <div class="col-2">
                            <div style="width: 100px; margin-left: 12px; padding-top: 5px;">
                                <button type="submit" class="btn btn btn-info btn-md btn-block rounded-pill">Eu quero!</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


            @*<div>
                <img src="~/imagemPCsemfundo.png" class="img-fluid rounded-start" width="150" height="150" alt="imag" style="margin-left: 25px;">
            </div>
            <div class="col-10">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 20px; margin-top: 9px;">INSCREVA-SE PARA RECEBER OFERTAS EXCLUSIVAS</h5>
                    <p class="card-text">
                        <div class="row text-center">
                            <div class="col-4" style="padding-top: 8px;">
                                <input type="text" class="form-control" placeholder="NOME" aria-label="First name">
                            </div>
                            <div class="col-4" style="padding-top: 8px;">
                                <input type="text" class="form-control" placeholder="E-MAIL" aria-label="Last name">
                            </div>
                            <div class="col-2">
                                <div style="width: 150px;">
                                    <button type="submit" class="btn btn btn-info btn-lg btn-block rounded-pill">Eu quero!</button>
                                </div>
                            </div>
                        </div>
                    </p>
                </div>
            </div>*@


            @*<div class="row">
            <div class="col-12">
                <div class="card boxfooter">
                    <div class="row">
                        <div class="col-2">
                            <img src="~/imagemPCsemfundo.png" class="img-fluid rounded-start" width="150" height="150" alt="imag" style="margin-left: 25px;">
                        </div>
                        <div class="col-10">
                            <div class="card-body">
                                <h5 class="card-title" style="font-size: 20px; margin-top: 9px;">INSCREVA-SE PARA RECEBER OFERTAS EXCLUSIVAS</h5>
                                <p class="card-text">
                                    <div class="row text-center">
                                        <div class="col-4" style="padding-top: 8px;">
                                            <input type="text" class="form-control" placeholder="NOME" aria-label="First name">
                                        </div>
                                        <div class="col-4" style="padding-top: 8px;">
                                            <input type="text" class="form-control" placeholder="E-MAIL" aria-label="Last name">
                                        </div>
                                        <div class="col-2">
                                            <div style="width: 150px;">
                                                <button type="submit" class="btn btn btn-info btn-lg btn-block rounded-pill">Eu quero!</button>
                                            </div>
                                        </div>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>*@
        </div>
        <hr>
        <div>
            <h3 class="text-center">formas de pagamento</h3>
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure deleniti eligendi, est maxime, tenetur perspiciatis enim vel suscipit numquam veritatis tempore doloremque, dignissimos ullam eaque veniam dicta accusamus voluptatibus ad.</p>

        </div>
    </footer>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - prototipoSiteTurismo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
