<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - POUSAR.COM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
  
    <style>

        #nav1 {
            background-image: linear-gradient(to bottom, var(--cor3), var(--cor2));
            box-shadow: 0px 0px 10px black;
            height: 70px;
            font-family: var(--fonte-mono);
            font-weight: bold;
        }

        #img-header {
            font-size: 30px;
            margin-left: 18px;
        }

        header nav div div ul li a.nav-link.active.a:hover {
            color: red;
        }

        .ancora {
            color: black;
        }
    </style>

    @RenderSection("css", false)
</head>
<body>
    <header >
        <nav class="navbar navbar-expand-lg " id="nav1" style=" background-image: linear-gradient(to bottom, var(--cor3), var(--cor2));">
            <!--nav-1-->
            <div class="container-fluid" >
                <a class="navbar-brand ancora" id="img-header" asp-controller="Passagem" asp-action="Index" style="margin-left: 40px;">
                    <!--imagem-->
                    <img src="~/favicon-avião.ico" alt="Imagem" width="50" height="38" class="d-inline-block align-text-top">
                    Pousar.com
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav sm-2" style="padding-right: 80px; font-size: 19px">
                        <li class="nav-item" style="padding:0 15px 0 15px;">
                            <a class="nav-link active a ancora" aria-current="page" id="link-menu" asp-controller="Passagem" asp-action="Index">VOOS</a>
                        </li>
                        <li class="nav-item" style="padding:0 15px 0 15px;">
                            <a class="nav-link active a ancora" aria-current="page" asp-controller="Hoteis" asp-action="Index" id="link-menu">HOTEIS</a>
                        </li>
                        <li class="nav-item" style="padding:0 45px 0 15px;">
                            <a class="nav-link active a ancora" href="#" id="link-menu">PACOTES</a>
                        </li>
                        <li class="nav-item dropdown">
                            <!--Dropbox-->
                            <a class="nav-link active dropdown-toggle ancora" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
                                MENU
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="height: auto;">
                                <li><a class="dropdown-item fs-6 font-weight-bold text-wrap" asp-controller="Login" asp-action="EntrarLogin">Login</a></li>
                                <li><a class="dropdown-item fs-6 text-wrap"  asp-controller="Carrinho" asp-action="Index">Carrinho</a></li>
                                <li><a class="dropdown-item fs-6 text-wrap" href="#">Ajuda</a></li>
                                <li><hr class="dropdown-divider "></li>
                                <li><a class="dropdown-item fs-6 text-wrap" asp-controller="TelasBlocos" asp-action="SobreNos">Sobre nós</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!--Chamada das telas da view-->
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
