.custom-nav-link {
    color: black;
    font-weight: bolder;
}

.custom-nav-link:hover {
    color: rgba(0, 0, 0, 0.398);
    font-weight: bolder;
}

.custom-image-banner1 {
    height: 100%;
    width: 100%;
    border-radius: 1em;
    margin-bottom: 0.5em;
}

.custom-image-banner1-label {
    color: rgb(91, 228, 91);
    font-weight: bolder;
}

.custom-image-banner1-title {
    font-weight: bold;
    font-size: 1.5em;
}

.custom-image-bannerLateral-title {
    color: blue;
    font-size: 1.2em;
    font-weight: 600;
}

.custom-image-bannerLateral-text {
    font-size: 1.1em;
    font-weight: 800;
}

.custom-image-bannerLateral-color {
    color: rgb(91, 228, 91);
}

.custom-nav-link-midpage {
    color: gray;
}

.custom-nav-link-midpage-hoje {
    color: rgb(53, 51, 51);
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 20%;
}

.custom-navbar {
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.307);
    margin-bottom: 1em;
}

.custom-linha {
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.307);
    margin-bottom: 1em;
    margin-top: 1em;
}

.custom-img-fluid-noticia-lateral {
    border-radius: 1em;
    height: 134px;
    width: 134px;
}