body{
    background-color: rgba(81, 76, 70, 0.489);
    font-family: 'Courier New', Courier, monospace;

}

header{
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.453);
    text-align: center;
}

section{
    background-color: white;
    border-radius: 9px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.519);
}

#fnum{
    width: 150px;
}

select{
    width: 170px;
}

footer{
    color: rgb(255, 255, 255);
    text-align: center;
    font-style: italic;
}