@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #D2F4FF;
}

#nav1{
    background-color: rgb(43, 179, 133);
    height: 70px;
}
#img-header{
    font-size: 30px;
    margin-left: 18px;
}

header nav div div ul li a.nav-link.active.a:hover{
    color: red;
}

.imagem-fundo{
    min-height: 57vh;
    max-height: 90vh;
    border: 1px solid red;
    background-color: black;
    background-image: url(../imagens/wallpaper002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;/*deixa a imagem sem rolagem*/
}




